<table border="1">
  <thead>
    <th>
      <td>Game ID</td>
      <td>Winner</td>
      <td>Summary</td>
      <td>Loser</td>
    </th>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <%= erb :_game, locals: { game: game } %>
    <% end %>
  </tbody>
</table>

<p><a href="/">Play again?</a></p>
