<h1>Players, Make Your Choice!</h1>
<% tokens.each do |token| %>
 <figure>
  <img src="<%=token.url %>" height="82" width="82">
  <figcaption><%= token.name %></figcaption>
</figure>
<% end %>


<form action="/game" method="post">
  <input type="text" placeholder="player one choice" name="player_1_token_name"/>
  <br>
  <br>
  <input type="text" placeholder="player two choice" name="player_2_token_name"/>
  <br>
  <br>
  <input type="submit" value="SHOOT!">
</form>

<% if winner %>
  <% if winner == "Draw."%>
    <p><%= winner %></p>
  <% else %>
  <p><%= winner %> is the winner!</p>
  <% end %>
<% end %>
