<div>
  <form action="/game" method="post" id="game_choices">
    <input type="hidden" name="player1_id" value=<%=@player1.id %> >
    <input type="hidden" name="player2_id" value=<%=@player2.id %> >
    <label>player1 choice:</label>
    <select name="player1_token">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select><br><br>
    <label>player2 choice</label>
    <select name="player2_token">
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>
    </select><br><br>
    <input type="submit">
  </form>

</div>
