<form action='/game' method='post'>
  <input type="hidden" name="user1" value="<%= @user1.id %>">
  <input type="hidden" name="user2" value="<%= @user2.id %>">
<h1>Player 1: Pick a move!</h1>
  <p>ROCK WIZARDDD!
    <img src="/imgs/Rock_Wizard.png">
    <input type="radio" name="token1" title="ROCK WIZARDDD" value="rock"/>
  </p>
  <br>
  <p>BARBER SCISSORS!
    <img src="/imgs/scissors.png">
    <input type="radio" name="token1" title="BARBER SCISSORS" value="scissors"/>
  </p>
  <br>
  <p>2PLY TOILET PAPER!
    <img src="/imgs/cartoon-running-toilet-paper.png">
    <input type="radio" name="token1" title="2PLY TOILET PAPER" value="paper"/>
  </p>
<h1>Player 2: Pick a move!</h1>
  <p>ROCK WIZARDDD!
    <img src="/imgs/Rock_Wizard.png">
    <input type="radio" name="token2" title="ROCK WIZARDDD" value="rock"/>
  </p>
  <br>
  <p>BARBER SCISSORS!
    <img src="/imgs/scissors.png">
    <input type="radio" name="token2" title="BARBER SCISSORS" value="scissors"/>
  </p>
  <br>
  <p>2PLY TOILET PAPER!
    <img src="/imgs/cartoon-running-toilet-paper.png">
    <input type="radio" name="token2" title="2PLY TOILET PAPER" value="paper"/>
  </p>
  <input type="submit" value="BATTLE"/>
</form>

