<h1>Players, Make Your Choice!</h1>
<% tokens.each do |token| %>
 <figure>
  <img src="<%=token.url %>" height="82" width="82">
  <figcaption><%= token.name %></figcaption>
</figure>
<% end %>


<form action="/game" method="post">
  <input type="text" placeholder="player one choice" name="player_1_token_name"/>
  <input type="submit" value="SHOOT!">
</form>

<form action="/game" method="post">
  <input type="text" placeholder="player two choice" name="player_2_token_1_name"/>
  <input type="submit" value="SHOOT!">
</form>
