<h1>Choose your destiny!!</h1>
<% pokemon.each do |i| %>
  <img src="/img/<%= i %>.png">
<% end %>

<p>Player 1</p>
<form action "/game" method="post">
<input type="radio" name="pokemon1" value="charmander" checked>Charmander
<input type="radio" name="pokemon1" value="squirtle">Squirtle
<input type="radio" name="pokemon1" value="bulbasaur">Bulbasaur

<p>Player 2</p>
<input type="radio" name="pokemon2" value="charmander" checked>Charmander
<input type="radio" name="pokemon2" value="squirtle">Squirtle
<input type="radio" name="pokemon2" value="bulbasaur">Bulbasaur
<BR>
<input type="submit" value="PLAY"/>
</form>
