<h3 class="centered">Throw Your Token</h3>

<div class="form">
  <select class="form-control">
  <option>Rock</option>
  <option>Paper</option>
  <option>Scissors</option>
  </select>
</div>

<div class="spacer">
</div>


<div class="form">
  <select class="form-control">
  <option>Rock</option>
  <option>Paper</option>
  <option>Scissors</option>
  </select>
</div>
