<h1>Rock, Paper, Scissors SHOOT!</h1>

<p>Select <% @cur_player.name %>'s choice:</p>
  <form action="/player_choice" method="post">
    <input type='hidden' name='_method' value='put' />
    <input type="text" placeholder="choice" name='choice'/>
    <input type="submit" value="Select" />
  </form>
