
<form action="/game" method='post'>
  <input type="hidden" name="player_1_id" value="<%= @user1.id %>">
  <input type="hidden" name="player_2_id" value="<%= @user2.id %>">

  <label >Player One</label><br />
  <input type="radio" name="player_1_token_id" value="1">Rock<br />
  <input type="radio" name="player_1_token_id" value="2">Paper<br />
  <input type="radio" name="player_1_token_id" value="3">Scissors<br /><br/>
  <label >Player Two</label><br />
  <input type="radio" name="player_2_token_id" value="1">Rock<br />
  <input type="radio" name="player_2_token_id" value="2">Paper<br />
  <input type="radio" name="player_2_token_id" value="3">Scissors<br />
  <input type="submit" value="Submit">
</form>