<p style="
    text-align: center;
    font-size: 36px;
    text-decoration: underline;">
    Welcome to Rock Paper Scissors!<br><br>
  <a href="/game"><button type="button" style="padding:10px">Click here to play!</button></a>
</p>
<br>
<div style="padding-left: 200px;">
  <img src="/imgs/Rock_Wizard.png">
  <img src="/imgs/scissors.png">
  <img src="/imgs/cartoon-running-toilet-paper.png">
</div>
