<h1>Rock, Paper, Scissors</h1>
<p>Sometimes in life we have to make decesions with our friends. Like, who picks up the check, who gets the front seat, or even who gets to jump into the pool first. I don't know about you; but I normally solve these hard choices with a quick game of Rock, Paper, Scissors.</p>

