<h2>rock | paper | scissors</h2>
<img src="/imgs/rock-paper-scissors-black.png" alt="rock paper scissors symbols">
<form action="/game" method="get">
  <button type="submit">new game</button>
</form>
