<h1 style="font-weight:bolder;text-align:center">Welcome to ROCK PAPER SCISSORS!! </h1>
<h2 style="font-weight:bolder;text-align:center">User 1 vs User 2! </h2>


<button type="button"><a href= "/game">
  Let's play!</a></button>


