<!DOCTYPE html>
<html lang="en">
<head>
  <link rel='stylesheet' href='/stylesheets/normalize.css' type='text/css' />
  <link rel='stylesheet' href='/stylesheets/application.css' type='text/css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src='javascripts/application.js'></script>
  <title><%= @title || "RPS" %></title>
</head>
<body>
    <%= yield %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
