<center>
<h1>Add your information!</h1>
<form action="/players" method="post">
  <input type="text" placeholder="Player 1 or 2?" name="player_number"/>
  <input type="text" placeholder="Your first name" name="first_name"/>
  <input type="text" placeholder="Your age" name="age"/>
  <input type="submit" value="Add player!">
</form>

<p><a href="/players">Go to players list</a></p>
<p><a href="/gamerecords">Go to games history</a></p>
</center>
