<h3>Choose Rock, Paper, Scissors</h3>

  <form action="/game/new" method="post">
    <input type="hidden" name="player_1_id" value="1">
    <input type="hidden" name="player_2_id" value="2">
    Player 1<br>
    Rock <input type="radio" name="player_1_token_id" value="1"><br>
    Scissors <input type="radio" name="player_1_token_id" value="2"><br>
    Paper  <input type="radio" name="player_1_token_id" value="3"><br>
    <br>
    Player 2<br>
    Rock<input type="radio" name="player_2_token_id" value="1"><br>
    Scissors<input type="radio" name="player_2_token_id" value="2"><br>
    Paper<input type="radio" name="player_2_token_id" value="3"><br>
    <br>
    <input type="submit" value="Shoot!">
  </form>
