<h2>Welcome To Rock, Paper, Scissors! </h2>


<form action= '/game' method='post'>
  <input type="hidden" name="player_1_id" value= '1'>
  <input type="hidden" name="player_2_id" value= '2'>

  <p>Player 1! Choose Wisely!</p>
  <input type='radio' name='player_1_token_id' value='1'/>Rock
  <input type='radio' name='player_1_token_id' value='2'/>Paper
  <input type='radio' name='player_1_token_id' value='3'/>Scissor

  <p>Player 2! What's your move??</p>
  <input type='radio' name='player_2_token_id' value='1'/>Rock
  <input type='radio' name='player_2_token_id' value='2'/>Paper
  <input type='radio' name='player_2_token_id' value='3'/>Scissor
  <br> <br>
  <button type="submit">'May the odds be ever in your favor'</button>

</form>
