<center>
<h1> What do you choose?</h1>
<form action="/shoot" method="post">
  <br>Player 1:<input type="text" placeholder="What is your name?" name="p1_name"/>
  <br><input type="text" placeholder="rock, paper or scissors?" name="player1choice"/>
  <br>Player 2:
  <br><input type="text" placeholder="What is your name?" name="p2_name"/>
  <br><input type="text" placeholder="rock, paper or scissors?" name="player2choice"/>
  <input type="submit" value="Shoot!">
</form>