<center>
<h1> Player details: </h1>

<p><b>Player <%=@cur_player.player_number%>:</b></p>
<p><em>Name: </em><%=@cur_player.first_name%></p>
<p><em>Age: </em><%=@cur_player.age%></p>

<p><a href="/players/new">Add player!
</a></p>
<p><a href="/choice">Play!</a></p>

<p><a href="/players">Go to players list</a></p>
<p><a href="/gamerecords">Go to games history</a></p>



</center>