<center>
<h1> Player details: </h1>

<p><b><%=@cur_player.name%>:</b></p>
<p><em>Name: </em><%=@cur_player.first_name%></p>
<p><em>Age: </em><%=@cur_player.age%></p>

<p><a href="/players/new">Add player!
</a></p>
<p><a href="/game">Play!</a></p>




</center>