<div class="row">
  <h1>Play "The Rock", Parchment, Fiskars</h1>
  <button class="btn btn-large"><a href="/gameboard">Play Game</a></button>
</div>
<div class="row">
  <div class='col-md-4'>
    <img src="/images/rock.png">
  </div>
  <div class='col-md-4'>
    <img src="/images/paper.png">
  </div>
  <div class='col-md-4'>
    <img src="/images/scissors.png">
  </div>
</div>
