<div class="row">
  <h1>Welcome To The Rock, Paper, Scissors</h1>
  <div class='col-md-4'>
    <img src="/images/rock.png">
  </div>
  <div class='col-md-4'>
    <img src="/images/paper.png">
  </div>
  <div class='col-md-4'>
    <img src="/images/scissors.png">
  </div>
</div>
