
<div class="media">
  <div class="media-left">
    <a href="/game/new/<%=@user.id%>">
      <img class="media-object" src="<%=@user.spiritanimal%>">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Welcome the the Dojo <%=@user.email%></h4>
<p>~~ Click your Spirit Animal To Start new Game ~~</p>
  </div>
</div>
