<div id="container">
  <h3>Become a User</h3>
  <div id="signup">
    <form action="/authentication/signup" method="post">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Signup">
  </div>
</div>
