<h1>New Game</h1>

<div>
	<form action='/games' method='post'>
		<h3>Player 1 Choice</h3>
			<input type='radio' name='player_1_token' value='rock'/>
			<input type='radio' name='player_1_token' value='paper'/>
			<input type='radio' name='player_1_token' value='scissors'/>
		
	</form>
</div>

<div>
	<form action='/games' method='post'>
		<h3>Player 2 Choice</h3>
			<input type='radio' name='player_2_token' value='rock'/>
			<input type='radio' name='player_2_token' value='paper'/>
			<input type='radio' name='player_2_token' value='scissors'/>
		
		  
			<input type='submit' value='Add'>
	</form>
</div>