#img_one{

}

.player_one_form{

}

.player_two_form{
  display: none;
}

#throw{
  display: none;
}

#announcer1{
  display: none;
}
#announcer2{
  display: none;
}
#announcer3{
  display: none;
}
#announcer4{
  display: none;
}
