#header {
  background-color: #3399FF;
  text-align: center;
  font-family: Lucida Grande;
}

.centered {
  text-align: center
}

.form {
  width: 15%;
  text-align: center;
}

.inline-block {
  display: inline-block;
}
